Repository s122725/bedrock-claude-chat: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint, black, mypy

lefthook.yml:

min_version: 1.3.0

pre-commit:
  parallel: true
  commands:
    prettier:
      glob: "frontend/**/*.{js,jsx,ts,tsx,vue,json,md,yml,yaml}"
      run: cd frontend && npx prettier --write --ignore-unknown {staged_files}
    eslint:
      glob: "frontend/**/*.{js,jsx,ts,tsx,vue}"
      run: cd frontend && npx eslint --fix --max-warnings=0 {staged_files}
    black:
      glob: "backend/**/*.py"
      run: cd backend && git ls-files -- "*.py" | xargs poetry run black
    mypy:
      glob: "backend/**/*.py"
      run: cd backend && git ls-files -- "*.py" | xargs poetry run mypy --config-file mypy.ini

fix lefthook
  lefthook.yml
Due: none

split sub
  backend/lefthook.yml
  frontend/lefthook.yml
  lefthook.yml
Due: none

Exclude specific folders with exclude when creating a Docker image
  cdk/lib/api-publishment-stack.ts
  cdk/lib/bedrock-chat-stack.ts
  cdk/lib/constructs/api.ts
  cdk/lib/constructs/embedding.ts
  cdk/lib/constructs/websocket.ts
Due: none

backendのreadmeにpoetryのinstallを追記
  backend/README.md
Due: none

fix hook
  backend/lefthook.yml
  frontend/lefthook.yml
  frontend/src/pages/AdminBotManagementPage.tsx
  lefthook.yml
Due: prettier, eslint

fix
  lefthook.yml
Due: none

remove test
  frontend/src/pages/AdminBotManagementPage.tsx
Due: prettier, eslint

chore: variable name consistency (AttachmentType)
  frontend/src/components/InputChatContent.tsx
  frontend/src/hooks/useChat.ts
  frontend/src/pages/ChatPage.tsx
Due: prettier, eslint

Add commit hook (#472)
  backend/mypy.ini
  docs/LOCAL_DEVELOPMENT.md
  lefthook.yml
Due: none

deploy: 6d879b8c921b3802f5c6af42d460607cda60b07d
  LOCAL_DEVELOPMENT.md
Due: none

add checking not to excess 10MB which is api gateway response size limit
  frontend/src/components/InputChatContent.tsx
  frontend/src/i18n/en/index.ts
  frontend/src/i18n/ja/index.ts
Due: prettier, eslint

merge v1
  lefthook.yml
Due: none

chore: eslint deps ignore
  frontend/src/components/InputChatContent.tsx
Due: prettier, eslint

fix: size limit to 6MB
  frontend/src/components/InputChatContent.tsx
Due: prettier, eslint

change: image size
  frontend/src/components/InputChatContent.tsx
Due: prettier, eslint

chore: remove eslint-disabled-line
  frontend/src/components/InputChatContent.tsx
Due: prettier, eslint

fix: size check bug
  frontend/src/components/InputChatContent.tsx
Due: prettier, eslint

Non-text document upload directly on chat window (#467)
  backend/app/bedrock.py
  backend/app/repositories/models/conversation.py
  backend/app/routes/schemas/conversation.py
  backend/tests/test_stream/test_stream.py
  backend/tests/test_usecases/test_chat.py
  cdk/lib/bedrock-chat-stack.ts
  cdk/lib/constructs/websocket.ts
  frontend/src/@types/conversation.d.ts
  frontend/src/components/ChatMessage.tsx
  frontend/src/components/InputChatContent.tsx
  frontend/src/components/UploadedAttachedFile.tsx
  frontend/src/constants/supportedAttachedFiles.ts
  frontend/src/features/helper/components/BottomHelper.tsx
  frontend/src/hooks/useChat.ts
  frontend/src/i18n/en/index.ts
  frontend/src/i18n/ja/index.ts
  frontend/src/pages/ChatPage.tsx
  lefthook.yml
Due: prettier, eslint, black, mypy

deploy: cc804d922a17772efb43b6546ff779d85bc399f2
  index.html
Due: none

Fix: Screen transition occurs due to unintended key input
  frontend/src/pages/ChatPage.tsx
Due: prettier, eslint

Fix: Destination of screen transition by keyboard shortcut when using custom bot
  frontend/src/pages/ChatPage.tsx
Due: prettier, eslint

Refactor detection logic of keyboard shortcuts
  frontend/src/pages/ChatPage.tsx
Due: prettier, eslint

Fix: Focus moves due to unintentional keystrokes
  frontend/src/components/Textarea.tsx
Due: prettier, eslint

Move detection logic of 'focus chat input' keyboard shortcut from `Textarea` to `ChatPage`
  frontend/src/components/InputChatContent.tsx
  frontend/src/components/Textarea.tsx
  frontend/src/features/agent/components/TextInputChatContent.tsx
  frontend/src/pages/ChatPage.tsx
Due: prettier, eslint

add
  backend/app/routes/schemas/bot.py
  backend/app/usecases/bot.py
Due: black, mypy

lint
  backend/app/usecases/bot.py
Due: black, mypy

Add attribute to `BotSummary` to determine whether the bot using Bedrock KnowledgeBase (#480)
  backend/app/routes/schemas/bot.py
  backend/app/usecases/bot.py
Due: black, mypy

Upgrade AWS Amplify to version 6 - aws-amplify 6.4.3 - @aws-amplify/ui-react 6.1.14
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/AuthCustom.tsx
  frontend/src/hooks/useHttp.ts
  frontend/src/hooks/usePostMessageStreaming.ts
  frontend/src/hooks/useUser.ts
Due: prettier, eslint

Fixed eslint warning 'tailwindcss/enforces-shorthand'
  frontend/src/components/ChatMessage.tsx
  frontend/src/components/InputChatContent.tsx
  frontend/src/components/Select.tsx
  frontend/src/components/UploadedAttachedFile.tsx
  frontend/src/pages/AdminApiManagementPage.tsx
  frontend/src/pages/AdminSharedBotAnalyticsPage.tsx
  frontend/src/pages/BotExplorePage.tsx
  frontend/src/pages/ChatPage.tsx
Due: prettier, eslint

Update AWS Amplify to version 6.4.4
  frontend/package-lock.json
Due: none

add
  README.md
Due: none

fix
  README.md
Due: none

embed
  README.md
Due: none

Add youtube overview video link to README (#484)
  README.md
Due: none

Fix eslint warnings ChatMessage.tsx - react-hooks/exhaustive-deps
  frontend/src/components/ChatMessage.tsx
  frontend/src/components/ListItemBot.stories.tsx
Due: prettier, eslint

Fixed eslint errors ChatListDrawer - Unused eslint-disable directive
  frontend/src/components/ChatListDrawer.tsx
  frontend/src/components/ChatMessage.tsx
Due: prettier, eslint

add
  backend/app/websocket.py
Due: black, mypy

merge
  backend/poetry.lock
  backend/pyproject.toml
Due: none
